* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Practice 4*/
.parent4 {
  display: flex;
  height: 300px; /* Or whatever */
  background-color: palegreen;
}

.child4 {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
  background-color: hotpink;
}


/*--------------------*/
/* Try 2 */
.parent2 {
  background-color: aqua;
  display: flex;
  
  
  gap: 1rem;
  border: 2px solid purple;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.child2 {
  justify-self: center;
}
.child-one {
  flex-grow: 1;
  border: 2px solid rgb(1, 49, 3);
  flex-wrap: wrap;
}
.child-two {
  border: 2px solid rgb(236, 9, 217);
  width: 225px;
}
.logo2 {
  width: 100%;
  height: auto;
}

.child-three {
  flex-grow: 1;
  border: 2px solid tomato;
}
/* practice 3 */

.container3 {
  display: flex;
  height: 140px;
  padding: 16px;
  background: plum;
  border: 4px solid black;

  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.item3 {
  background: skyblue;
  width: 60px;
  height: 60px;
  border: 4px solid purple;
}

/* Practice 4 */
